.maximo-main-header-elements-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.maximo-main-header-element {
    -ms-flex-preferred-size: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}

.maximo-main-header-element:not(:first-child) {
    margin-left: 20px;
}

.maximo-header-btn-inner,
.maximo-header-search-inner,
.maximo-header-cart-inner,
.maximo-header-wishlist-inner {
    display: inline-block;
    position: relative;
}

.maximo-main-header-element:not(:last-child):after {
    margin-left: 10px;
    display: inline-block;
}

body .maximo-main-header-element:not(:last-child):after {
    color: var(--maximo-text-color);
}

.maximo-main-header-elements-separator-bar .maximo-main-header-element:not(:last-child):after {
    content: '|';
    margin-left: 15px;
}

.maximo-main-header-elements-separator-slanted-bar .maximo-main-header-element:not(:last-child):after {
    content: '/';
    margin-left: 15px;
}


.maximo-header-element-icon {
    display: inline-block;
    padding: 15px 0;
    font-size: var(--maximo-font-size-small);
}

.maximo-header-element-icon:hover {
    text-decoration: none;
    color: var(--maximo-accent-color);
}

.maximo-main-header-element.maximo-rounded .maximo-header-element-icon {
    font-size: 14px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    background-color: rgba(255, 255, 255, 0.25);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}