.post-categories {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-categories li {
    margin-right: 15px;
    display: inline-block;
}

.maximo-post-structure-categories {
    margin-bottom: 15px;
}

.maximo-post-structure-categories .post-categories li a {
    color: var(--maximo-accent-color);
    transition-duration: 0.3s;
    border-radius: 2px;
}

.maximo-archive-title-wrapper {
    margin-bottom: 3.125rem;
}

body.maximo-has-no-sidebar .maximo-archive-title-wrapper {
    padding: 0 30px;
}

body.maximo-theme-dark .maximo-page-title {
    color: #ffffff;
}

.maximo-page-title {
    margin-bottom: 15px;
    margin-top: 0;
}

.maximo-post-meta-entries {
    font-size: var(--maximo-font-size-small);
}

.maximo-post-meta-entries-inner .maximo-post-meta-entry {
    margin-bottom: 10px;
    display: inline-block;
}

.maximo-post-meta-entries-inner .maximo-post-meta-entry:not(:last-child) {
    margin-right: 20px;
}

.maximo-post-meta-entries .maximo-post-meta-icon {
    margin-right: 2px;
    font-size: var(--maximo-icon-font-size);
}

.maximo-post-author-meta-icon > img.avatar {
    border-radius: 50%;
}

.maximo-entry-thumbnail-container-inner {
    overflow: hidden;
}

.maximo-entry-thumbnail-container-inner figure  {
    position: relative;
}

.maximo-entry-thumbnail-container-inner figure > span.maximo-post-format-icon {
    position: absolute;
    height: 2.8125em;
    width: 2.8125em;
    line-height: 2.8125em;
    background-color: var(--maximo-accent-color);
    color: var(--maximo-accent-bg-text-color);
    text-align: center;
    border-radius: 2.5em;
}

.maximo-fullwidth-layout-item  .maximo-entry-thumbnail-container-inner figure > span.maximo-post-format-icon {
    font-size: var(--maximo-body-font-size);
}

.maximo-horizontal-list-layout-item  .maximo-entry-thumbnail-container-inner figure > span.maximo-post-format-icon {
    font-size: var(--maximo-icon-font-size);
}

.maximo-horizontal-list-layout-item.maximo-thumbnail-right .maximo-entry-thumbnail-container-inner figure > span.maximo-post-format-icon {
    top: 0.9375em;
    right: 0.9375em;
}

.maximo-horizontal-list-layout-item.maximo-thumbnail-left .maximo-entry-thumbnail-container-inner figure > span.maximo-post-format-icon {
    top: 0.9375em;
    left: 0.9375em;
}

.maximo-fullwidth-layout-item .maximo-entry-thumbnail-container-inner figure > span.maximo-post-format-icon {
    top: 1.875em;
    left: 1.875em;
}

.maximo-entry-post-tags a {
    padding: 3px 10px;
    border: 1px solid var(--maximo-border-color);
    display: inline-block;
    margin-right: 15px;
}

body.maximo-theme-dark .maximo-entry-post-tags a {
    border-color: $border_color_dark;
}

body.maximo-theme-light .maximo-entry-post-tags a {
    border-color: $border_color_light;
}

.maximo-post-element-meta,
.maximo-post-element-meta a {
    color: var(--maximo-post-meta-color);
}